@import "../../variables.module.scss";

body {
  margin: 0;
  background-color: $midnight-black;
  color: $white;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  background-color: transparent;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}

ul {
  list-style-type: none;
}
