.statsContainer {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.activityContainer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .activity {
    padding: 5px;
  }
}

.statValue {
  padding: 0 5px;
  overflow: scroll;
}

.icon {
  width: 50px;
  height: 30px;
  margin: 0 auto;
}

.profileName {
  width: 100%;
  display: flex;
  justify-content: center;
}
