// Colors
$midnight-black: #292828;
$light-green: #63dd2c;
$dark-red: #d4002f;
$dark-orange: #f3821f;
$light-orange: #f2994a;
$light-gray: #e9e1d8;
$white: #ffff;

// Text-size
$text-x-small: 0.6em;
$text-small: 0.8em;
$text-normal: 1em;
$text-large: 1.5em;
$text-x-large: 2em;

// Spacing
$spacing-x-small: 2px;
$spacing-small: 5px;
$spacing-normal: 10px;
$spacing-large: 15px;
$spacing-x-large: 20px;

// Font-families
